In [17]:
import pandas as pd
from datetime import datetime
import os

In [18]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citi_bike_to_load = "resources/201908-citibike-tripdata2.csv"
citi_bike_df = pd.read_csv(citi_bike_to_load)

In [19]:
# 2. Check the datatypes of your columns. 
citi_bike_df.head(5)

,Birth Year,End Station Name,Gender,Start Station Name,Starttime,Stoptime,Usertype,Bikeid,End Station Id,End Station Latitude,End Station Longitude,Rideduration,Start Station Id,Start Station Latitude,Start Station Longitude,Tripduration
0,1969,Bond St & Fulton St,Unknown,Cadman Plaza E & Red Cross Pl,8/22/2019 9:17:15 PM,8/22/2019 9:32:55 PM,Customer,27666,3232.0,40.689622,-73.983043,939,321.0,40.699918,-73.989718,939
1,1969,1 Pl & Clinton St,Unknown,Cadman Plaza E & Red Cross Pl,8/22/2019 7:08:09 PM,8/22/2019 7:20:32 PM,Customer,18580,3386.0,40.680959,-73.999057,742,321.0,40.699918,-73.989718,742
2,1969,Carlton Ave & Dean St,Unknown,Cadman Plaza E & Red Cross Pl,8/24/2019 1:52:20 PM,8/24/2019 2:16:18 PM,Customer,39375,3537.0,40.680974,-73.971010,1437,321.0,40.699918,-73.989718,1437
3,1969,St Johns Pl & Washington Ave,Unknown,Cadman Plaza E & Red Cross Pl,8/22/2019 5:12:43 PM,8/22/2019 5:37:59 PM,Customer,15493,3580.0,40.673724,-73.963161,1516,321.0,40.699918,-73.989718,1516
4,1969,Wyckoff Av & Jefferson St,Unknown,Cadman Plaza E & Red Cross Pl,8/24/2019 6:19:35 PM,8/24/2019 6:55:17 PM,Customer,39429,3763.0,40.707165,-73.923711,2141,321.0,40.699918,-73.989718,2141

In [20]:
# 3. Convert the 'tripduration' column to datetime datatype.
citi_bike_df['Tripduration'] = pd.to_datetime(citi_bike_df['Tripduration'], unit = 's')
citi_bike_df.head(5)

,Birth Year,End Station Name,Gender,Start Station Name,Starttime,Stoptime,Usertype,Bikeid,End Station Id,End Station Latitude,End Station Longitude,Rideduration,Start Station Id,Start Station Latitude,Start Station Longitude,Tripduration
0,1969,Bond St & Fulton St,Unknown,Cadman Plaza E & Red Cross Pl,8/22/2019 9:17:15 PM,8/22/2019 9:32:55 PM,Customer,27666,3232.0,40.689622,-73.983043,939,321.0,40.699918,-73.989718,1970-01-01 00:15:39
1,1969,1 Pl & Clinton St,Unknown,Cadman Plaza E & Red Cross Pl,8/22/2019 7:08:09 PM,8/22/2019 7:20:32 PM,Customer,18580,3386.0,40.680959,-73.999057,742,321.0,40.699918,-73.989718,1970-01-01 00:12:22
2,1969,Carlton Ave & Dean St,Unknown,Cadman Plaza E & Red Cross Pl,8/24/2019 1:52:20 PM,8/24/2019 2:16:18 PM,Customer,39375,3537.0,40.680974,-73.971010,1437,321.0,40.699918,-73.989718,1970-01-01 00:23:57
3,1969,St Johns Pl & Washington Ave,Unknown,Cadman Plaza E & Red Cross Pl,8/22/2019 5:12:43 PM,8/22/2019 5:37:59 PM,Customer,15493,3580.0,40.673724,-73.963161,1516,321.0,40.699918,-73.989718,1970-01-01 00:25:16
4,1969,Wyckoff Av & Jefferson St,Unknown,Cadman Plaza E & Red Cross Pl,8/24/2019 6:19:35 PM,8/24/2019 6:55:17 PM,Customer,39429,3763.0,40.707165,-73.923711,2141,321.0,40.699918,-73.989718,1970-01-01 00:35:41

In [21]:
# 4. Check the datatypes of your columns. 
citi_bike_df.dtypes

Birth Year                          int64
End Station Name                   object
Gender                             object
Start Station Name                 object
Starttime                          object
Stoptime                           object
Usertype                           object
Bikeid                              int64
End Station Id                    float64
End Station Latitude              float64
End Station Longitude             float64
Rideduration                        int64
Start Station Id                  float64
Start Station Latitude            float64
Start Station Longitude           float64
Tripduration               datetime64[ns]
dtype: object

In [22]:
# 5. Export the Dataframe as a new CSV file without the index.
citi_bike_df.to_csv('resources/citibike_challenge.csv', index=False)